<nav *ngIf="shouldShowNavbar()">
  <div class="nav-container">
      <div class="logo">CostEstimator</div>
      <ul class="nav-links">
        <!-- <li><a routerLink="/contractor/dashboard">Home</a></li> -->
        <!-- <li><a routerLink="/inputs">View Inputs</a></li> -->
        <!-- <li><a routerLink="/estimations">Estimation</a></li> -->
        <!-- <li><a routerLink="/contact">Contact</a></li> -->
        <!-- <li><a routerLink="/profile">Profile</a></li> -->
        <li><button class="logout-btn" (click)="logout()">Logout</button></li> <!-- Logout Button -->
      </ul>
      <div class="hamburger">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <line x1="3" y1="12" x2="21" y2="12"></line>
          <line x1="3" y1="6" x2="21" y2="6"></line>
          <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
      </div>
    </div>
</nav>
<div class="dashboard-container">
  <header class="dashboard-header">
    <h1>Contractor Dashboard</h1>
  </header>

  <section *ngIf="contractor">
    <h2>Welcome, {{ contractor.name }}</h2>
    <p>id: {{contractor._id}}</p>
    <p>Email: {{ contractor.email }}</p>
    <p>Phone: {{ contractor.contactNumber }}</p>
  </section>

  <section *ngIf="inputs && inputs.length > 0">
    <h3>Your Assigned Inputs</h3>
    <ul>
      <li *ngFor="let input of inputs">
        <strong>{{ input.propertyName }}</strong> — {{ input.constructionType }}<br>
        Location: {{ input.city }}, {{ input.state }}<br>
        Dimensions: {{ input.length }}ft × {{ input.width }}ft<br>
        HomerOwner: {{ input.userName }} ({{ input.userEmail }})<br>
        <!-- totalCost: {{ input.totalCost }}<br> -->
        <!-- Estimation Done? {{ input.done ? 'Yes' : 'No' }} <br> -->
        <button 
        *ngIf="!input.done" 
        (click)="calculateEstimation(input)" 
        class="calculate-button">
        Calculate Estimation
      </button>
      
        <div class="estimation-result">
          <strong>Total Cost:</strong> ₹{{ input.totalCost }}
        </div>
      </li>
    </ul>
   
  </section>
  
  <section *ngIf="inputs && inputs.length === 0">
    <p>No inputs assigned to you yet.</p>
  </section>
  